@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@plugin "daisyui";

@theme {
    --color-coralmain: #F68A8A;
    --color-coralaccent: #DE7C7C;
    --color-bluemain: #8DAEDF;
    --color-blueaccent: #C9DFFF;

    --font-itim: "Itim", cursive;
 
}