---
import Default from "../templates/default.astro"
---

<Default>
	<div class="flex w-screen h-screen items-center justify-center">
		<div class="flex items-center justify-center h-2xl min-w-2xl w-fit bg-coralmain shadow-2xl rounded-4xl border-16 border-coralaccent p-16">
			<img class="max-w-2xl" src="sculpted-logo.png"/>
		</div>
	</div>
</Default>