---
const { text, link } = Astro.props;
---
<div class="flex">
    <a href={link} class="w-min-mg h-md bg-bluemain border-4 p-2 pl-4 pr-4 m-2 text-center border-blueaccent rounded-4xl font-itim text-xl shadow-2xl hover:bg-blueaccent hover:border-bluemain">{text}</a>
</div>